* {
    box-sizing: border-box;
}
html, body, #root {
    width: 100%;
    height: 100%;
}
.content {
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 40px;
    overflow-y: scroll;
    h1 {
        margin-bottom: 20px;
    }
}
.btn-main {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--font-color);
}